<html style="width: auto; position: relative; height: auto">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Login</title>
</head>
<body bgcolor="#7f7f7f">

	<!-- table to hold the entire page -->
	<table
		style="background-color: #10A01A; halign: center; width: 100%; height: 100%"
		cellpadding=0 cellspacing=0>
		<tr>
			<td align="center">
				<!-- table to hold the screen in the center -->
				<table style="align: center; height: 100%; width: 450px"
					cellpadding="0" cellspacing=0>
					<tr>
						<td style="width: 50px"></td>
						<td style="width: 47px">
							<!-- table to hold the left red stripes -->
							<table style="width: 100%; height: 100%" cellpadding="0"
								cellspacing=0>
								<tr>
									<td background="redstripes.jpg"></td>
								</tr>
							</table>
						</td>
						<td>
							<table
								style="background-color: #4f534f; width: 100%; height: 100%"
								cellpadding="0" cellspacing=0>
								<tr>
									<td></td>
								</tr>
							</table>
						</td>
						<td style="width: 47px">
							<!-- table to hold the right red stripes -->
							<table style="width: 100%; height: 100%" cellpadding="0"
								cellspacing=0>
								<tr>
									<td background="redstripesright.jpg"></td>
								</tr>
							</table>
						</td>
						<td style="width: 50px"></td>
					</tr>
				</table>

			</td>
		</tr>
	</table>

</body>
</html>
